#nav-parent {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 10000;
}

#nav-parent::before {
  content: "";
  backdrop-filter: blur(20px);
  background-color: rgba(5, 5, 5, 0.8);
  position: absolute;
  width: 100%;
  height: 4.6rem;
  top: 0;
  left: 0;
  z-index: -1;
}

#nav-parent #logo {
  width: 7rem;
  height: 3rem;
  font-weight: bolder;
  font-size: 2rem;
  background: url("../img/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 100;
}
#nav-parent .nav {
  display: flex;
  gap: 2rem;
  font-weight: 500;
  align-items: center;
  font-size: 1rem;
  height: 3rem;
}

#nav-parent #nav-mobile {
  display: none;
}

#nav-parent #members-area-btn {
  background-color: var(--heading-color);
  color: var(--background-color);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  height: fit-content;
  align-self: center;
  user-select: none;
  cursor: pointer;
  z-index: 100;
}

#nav-parent a {
  color: var(--link-color);
  text-decoration: none;
  transition-duration: 0.2s;
}

#nav-parent a:hover {
  color: var(--heading-color);
  text-shadow: 0 0 10px white;
}
#nav-parent a.active {
  color: var(--heading-color);
  font-weight: 500;
  text-shadow: 0 0 15px rgb(215, 214, 214);
}

@media (max-width: 1024px) {
  #nav-parent {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1rem;
  }

  #nav-parent::before {
    background-color: rgba(5, 5, 5, 0.8);
    content: "";
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #nav-parent #logo {
    width: 3rem;
    height: 3rem;
    font-weight: bolder;
    font-size: 2rem;
    background: url("../img/logo.png");
    background-size: 230%;
    background-repeat: no-repeat;
    background-position: 0;
  }

  #nav-parent .nav {
    display: none;
  }
  #nav-parent #nav-mobile {
    order: 2;
    width: 1.5rem;
    height: 3rem;
    display: block;
  }
  #nav-mobile .nav {
    backdrop-filter: blur(20px);
    background-color: rgba(5, 5, 5, 0.8);
    height: 100vh;
    padding: 1rem 0;
    position: absolute;
    z-index: 100000;
    width: 100vw;
    left: 0;
    top: 4rem;
    display: flex;
    flex-direction: column;
    left: 0;
    gap: 2rem;
    font-weight: 500;
    align-items: center;
    font-size: 1rem;
  }
  #nav-parent #members-area-btn {
    order: 1;
    background-color: var(--heading-color);
    color: var(--background-color);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    height: fit-content;
    align-self: center;
    user-select: none;
  }
  #nav-parent #close-nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0.7rem;
    color: white;
    z-index: 100;
    cursor: pointer;
    user-select: none;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
